<div class="row">
  <div class="col">
    <button type="button" class="btn btn-sm btn-block btn-outline-primary add-task">
      <i class="fa fa-plus"></i>
      Add Task
    </button>
  </div>
</div>

<hr />

<div class="planning-cards row"></div>
