<div class="row lane row-nowrap">
  <div class="col-md-1 col-sm-1 width-75">
    <div class="card text-center">
      <div class="card-body align-center header horizontal">
        <p>
          <span data-value="">Add Horizontal Lane</span>
          <a href="javascript:void(0);" class="trash-hlane">
            <i class="fa fa-trash ml-10"></i>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col main-col">
    <div class="card cell">
      <div class="card-body">
        <!-- THIS IS MAIN CARD -->
      </div>
    </div>
  </div>

  <div class="col-md-1 col-sm-1 width-75">
  </div>
</div>
