<div class="col main-col">
  <div class="vertical-lane-collapsed hidden">
    <div class="card text-center">
      <div class="card-body">
        <p>
          <span class="lane-name-collapsed">Lane name not specified</span>
        </p>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body header vertical">
      <div class="row">
        <div class="col-md-1 col-sm-1 pull-left">
          <a href="javascript:void(0);" class="collapse-icon">
            <i class="fa fa-minus-circle"></i>
          </a>
        </div>

        <div class="col align-center">
          <p>
            <span data-value="">Add Vertical Lane</span>
            <a href="javascript:void(0);" class="trash-vlane">
              <i class="fa fa-trash ml-10"></i>
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
