<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/">
  <%= image_tag('involvio.png', class: 'navbar-brand-full', width: '89', height: '25', alt: 'Oracle Logo')%>
  <%= image_tag('involvio.png', class: 'navbar-brand-minimized', width: '30', height: '30', alt: 'Oracle Logo')%>
</a>


<button class="navbar-toggler aside-menu-toggler d-md-down-none aside-sidebar-toggler" type="button" data-toggle="aside-menu-lg-show">
  <span class="navbar-toggler-icon"></span>
</button>

